@using BlogApp.Shared.Utilities.Results.ComplexTypes
@model BlogApp.Entities.Dtos.CategoryDtos.CategoryListDto

@if(Model.ResultStatus == ResultStatus.Success){
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
             Categories Table
        </div>
        <div class="card-body">
            <div class="spinner-border m-5" id="spinner" role="status" style="display: none;" aria-hidden="true">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Is Active?</th>
                            <th>Is Deleted?</th>
                            <th>Notes</th>
                            <th>Created By Name</th>
                            <th>Created Date</th>
                            <th>Modified By Name</th>
                            <th>Modified Date</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Is Active?</th>
                            <th>Is Deleted?</th>
                            <th>Notes</th>
                            <th>Created By Name</th>
                            <th>Created Date</th>
                            <th>Modified By Name</th>
                            <th>Modified Date</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr data-id="category-row-@category.Id">
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.CreatedName</td>
                                <td>@category.CreatedDate.ToShortDateString()</td>
                                <td>@category.ModifiedName</td>
                                <td>@category.ModifiedDate.ToShortDateString()</td>
                                <td>
                                    <button class="btn btn-warning btn-block"><span class="fa-solid fa-pen-to-square"></span></button>
                                    <button class="btn btn-danger btn-delete btn-block" data-id="@category.Id"><span class="fa-solid fa-circle-xmark"></span></button>
                                </td>
                            </tr>
                        }                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}else{
    <div class="alert alert-danger mt-4">
        No Categories Found.
    </div>
}

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#categoriesTable').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
    "<'row'<'col-sm-12'tr>>" +
    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: 'Add',
                        className: "btn btn-success",
                        attr: {
                            id: "btnAdd"
                        },
                        action: function ( e, dt, node, config ) {
                        }
                    },
                    {
                        text: 'Refresh',
                        className: "btn btn-warning",
                        action: function ( e, dt, node, config ) {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("GetAll","Category")',
                                contentType: 'application/json',
                                beforeSend: function(){
                                    $("#spinner").show();
                                    $("#categoriesTable").hide();
                                },
                                success: function(data){
                                    const categoryAddDto = jQuery.parseJSON(data);
                                    if(categoryAddDto.ResultStatus == 0){
                                        let newTableBody = "";
                                        $.each(categoryAddDto.Categories.$values,function(index,category){
                                            newTableBody += `
                                                <tr data-id="category-row-${category.id}">
                                                    <td>${category.Id}</td>
                                                    <td>${category.Name}</td>
                                                    <td>${category.Description}</td>
                                                    <td>${ConvertFirstLetterToUpperCase(category.IsActive.toString())}</td>
                                                    <td>${ConvertFirstLetterToUpperCase(category.IsDeleted.toString())}</td>
                                                    <td>${category.Note}</td>
                                                    <td>${category.CreatedName}</td>
                                                    <td>${ConvertToShortDate(category.CreatedDate)}</td>
                                                    <td>${category.ModifiedName}</td>
                                                    <td>${ConvertToShortDate(category.ModifiedDate)}</td>
                                                    <td>
                                                        <button class="btn btn-warning btn-block"><span class="fa-solid fa-pen-to-square"></span></button>
                                                        <button class="btn btn-danger btn-delete btn-block" data-id="${category.id}"><span class="fa-solid fa-circle-xmark"></span></button>
                                                    </td>
                                                </tr>
                                                `;
                                        });
                                        const newTableBodyObject = $(newTableBody);
                                        $("#categoriesTable > tbody").replaceWith(newTableBodyObject)
                                        $("#categoriesTable").fadeIn(2000);
                                        $("#spinner").hide();

                                        toastr.success(`${categoryAddDto.Message}`,"Successfull")
                                    }
                                    else{
                                        $("#categoriesTable").fadeIn(1000);
                                        $("#spinner").hide();
                                        toastr.error(`${categoryAddDto.Message}`,"Error")
                                    }
                                },
                                error: function(err){
                                    $("#categoriesTable").fadeIn(1000);
                                    $("#spinner").hide();
                                    toastr.error(`${err.responseText}`,"Error")
                                }
                            })
                        }
                    }
                ]
            });

            $(function(){
                const modalPlaceHolder = $("#modalPlaceHolder");
                const url = '@Url.Action("Add","Category")';
                $("#btnAdd").click(function(){
                    $.get(url).done(function(data){
                        modalPlaceHolder.html(data);
                        modalPlaceHolder.find(".modal").modal("show");
                    })
                })

                modalPlaceHolder.on("click","#btnSave",function(e){
                    e.preventDefault();
                    const form = modalPlaceHolder.find("#category-add-form");
                    const actionUrl = form.attr("action");
                    const dataToSend = form.serialize();
                    $.post(actionUrl,dataToSend).done(function(data){
                        const categoryAddAjaxViewModel = jQuery.parseJSON(data);
                        const newModelBody = $(".modal-body",categoryAddAjaxViewModel.CategoryAddPartial);
                        modalPlaceHolder.find(".modal-body").replaceWith(newModelBody);
                        const IsValid = newModelBody.find("#IsValid")[0].value == "True";
                        if(IsValid){
                            modalPlaceHolder.find(".modal").modal("hide");
                            const newTableRow = `
                            <tr data-id="category-row-${categoryAddAjaxViewModel.CategoryDto.Category.Id}">
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Id}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Name}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Description}</td>
                                <td>${ConvertFirstLetterToUpperCase(categoryAddAjaxViewModel.CategoryDto.Category.IsActive.toString())}</td>
                                <td>${ConvertFirstLetterToUpperCase(categoryAddAjaxViewModel.CategoryDto.Category.IsDeleted.toString())}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Note}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.CreatedName}</td>
                                <td>${ConvertToShortDate(categoryAddAjaxViewModel.CategoryDto.Category.CreatedDate)}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.ModifiedName}</td>
                                <td>${ConvertToShortDate(categoryAddAjaxViewModel.CategoryDto.Category.ModifiedDate)}</td>
                                <td>
                                    <button class="btn btn-warning btn-block"><span class="fa-solid fa-pen-to-square"></span></button>
                                    <button class="btn btn-danger btn-delete btn-block" data-id="${categoryAddAjaxViewModel.CategoryDto.Category.Id}"><span class="fa-solid fa-circle-xmark"></span></button>
                                </td>                                
                            </tr>
                            `;
                            
                            const newTableRowObject = $(newTableRow);
                            newTableRowObject.hide();
                            $("#categoriesTable").append(newTableRowObject);
                            newTableRowObject.fadeIn(1500);
                            toastr.success(`${categoryAddAjaxViewModel.CategoryDto.Category.Name} has successfully been added.`,"Succesfull");
                        }else{
                            let summaryText = "";
                            $("#validation-summary > ul > li").each(function(){
                                const text = $(this).text();
                                summaryText += `*${text}/n`;
                            })
                            toastr.warning(`${summaryText}`);
                        }
                    })
                })
                $(document).on("click",".btn-delete",function(e){
                    e.preventDefault();
                    const categoryId = $(this).attr("data-id");
                    const tableRow = $(`[data-id="category-row-${categoryId}"]`);
                    const categoryName = tableRow.find("td:eq(1)").text();

                    Swal.fire({
                        title: 'Are you sure that you want to delete?',
                        text: `${categoryName} will be deleted!`,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: "No, don't delete!"
                        }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                dataType: 'json',
                                data: { categoryId: categoryId },
                                url: '@Url.Action("Delete","Category")',
                                success: function(data){
                                    const categoryDto = jQuery.parseJSON(data);
                                    if(categoryDto.ResultStatus == 0){
                                        Swal.fire(
                                            'Deleted!',
                                            `${categoryDto.Message}`,
                                            'success'
                                        );
                                        tableRow.fadeOut(2000);
                                    }else{
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: `${categoryDto.Message}`,
                                        })
                                    }
                                },
                                error: function(err){
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: `${err.responseText}`,
                                    })
                                }
                            })
                        }
                    })
                })
            })
        } );
    </script>
}
