@using BlogApp.Shared.Utilities.Results.ComplexTypes
@model BlogApp.Entities.Dtos.CategoryDtos.CategoryListDto

@if(Model.ResultStatus == ResultStatus.Success){
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
             Categories Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Is Active?</th>
                            <th>Is Deleted?</th>
                            <th>Notes</th>
                            <th>Created By Name</th>
                            <th>Created Date</th>
                            <th>Modified By Name</th>
                            <th>Modified Date</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Is Active?</th>
                            <th>Is Deleted?</th>
                            <th>Notes</th>
                            <th>Created By Name</th>
                            <th>Created Date</th>
                            <th>Modified By Name</th>
                            <th>Modified Date</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.CreatedName</td>
                                <td>@category.CreatedDate.ToShortDateString()</td>
                                <td>@category.ModifiedName</td>
                                <td>@category.ModifiedDate.ToShortDateString()</td>
                            </tr>
                        }                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}else{
    <div class="alert alert-danger mt-4">
        No Categories Found.
    </div>
}

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#categoriesTable').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
    "<'row'<'col-sm-12'tr>>" +
    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                buttons: [
                    {
                        text: 'Add',
                        className: "btn btn-success",
                        attr: {
                            id: "btnAdd"
                        },
                        action: function ( e, dt, node, config ) {
                        }
                    },
                    {
                        text: 'Refresh',
                        className: "btn btn-warning",
                        action: function ( e, dt, node, config ) {
                        }
                    }
                ]
            });

            $(function(){
                const modalPlaceHolder = $("#modalPlaceHolder");
                const url = '@Url.Action("Add","Category")';
                $("#btnAdd").click(function(){
                    $.get(url).done(function(data){
                        modalPlaceHolder.html(data);
                        modalPlaceHolder.find(".modal").modal("show");
                    })
                })

                modalPlaceHolder.on("click","#btnSave",function(e){
                    e.preventDefault();
                    const form = modalPlaceHolder.find("#category-add-form");
                    const actionUrl = form.attr("action");
                    const dataToSend = form.serialize();
                    $.post(actionUrl,dataToSend).done(function(data){
                        const categoryAddAjaxViewModel = jQuery.parseJSON(data);
                        const newModelBody = $(".modal-body",categoryAddAjaxViewModel.CategoryAddPartial);
                        modalPlaceHolder.find(".modal-body").replaceWith(newModelBody);
                        const IsValid = newModelBody.find("#IsValid")[0].value == "True";
                        if(IsValid){
                            modalPlaceHolder.find(".modal").modal("hide");
                            const newTableRow = `
                            <tr>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Id}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Name}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Description}</td>
                                <td>${ConvertFirstLetterToUpperCase(categoryAddAjaxViewModel.CategoryDto.Category.IsActive.toString())}</td>
                                <td>${ConvertFirstLetterToUpperCase(categoryAddAjaxViewModel.CategoryDto.Category.IsDeleted.toString())}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.Note}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.CreatedName}</td>
                                <td>${ConvertToShortDate(categoryAddAjaxViewModel.CategoryDto.Category.CreatedDate)}</td>
                                <td>${categoryAddAjaxViewModel.CategoryDto.Category.ModifiedName}</td>
                                <td>${ConvertToShortDate(categoryAddAjaxViewModel.CategoryDto.Category.ModifiedDate)}</td>
                            </tr>
                            `;
                            
                            const newTableRowObject = $(newTableRow);
                            newTableRowObject.hide();
                            $("#categoriesTable").append(newTableRowObject);
                            newTableRowObject.fadeIn(1500);
                            toastr.success(`${categoryAddAjaxViewModel.CategoryDto.Category.Name} has successfully been added.`,"Succesfull");
                        }else{
                            let summaryText = "";
                            $("#validation-summary > ul > li").each(function(){
                                const text = $(this).text();
                                summaryText += `*${text}/n`;
                            })
                            toastr.warning(`${summaryText}`);
                        }
                    })

                })
            })
        } );
    </script>
}
