@using BlogApp.Shared.Utilities.Results.ComplexTypes
@model BlogApp.Entities.Dtos.UserDtos.UserListDto

<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"> <a asp-area="Admin" asp-controller="User" asp-action="Index">Admin</a> </li>
    <li class="breadcrumb-item active"> <a asp-area="Admin" asp-controller="User" asp-action="Index">User</a> </li>
</ol>

@if(Model.ResultStatus == ResultStatus.Success){
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
             Users Table
        </div>
        <div class="card-body">
            <div class="spinner-border m-5" id="spinner" role="status" style="display: none;" aria-hidden="true">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Telephone</th>
                            <th>About User</th>
                            <th>Picture</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Telephone</th>
                            <th>About User</th>
                            <th>Picture</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr data-id="user-row-@user.Id">
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.PhoneNumber</td>
                                <td>@(user.About.Length>75 ? user.About.Substring(0,75):user.About)</td>
                                <td>
                                    <img src="~/img/@user.Picture" alt="picture" style="max-width: 50px;">
                                </td>
                                <td>
                                    <button class="btn btn-info btn-sm btn-detail" data-id="@user.Id"><span class="fas fa-newspaper"></span></button>
                                    <button class="btn btn-warning btn-sm btn-assign" data-id="@user.Id"><span class="fas fa-user-shield"></span></button>
                                    <button class="btn btn-primary btn-sm btn-update" data-id="@user.Id"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@user.Id"><span class="fas fa-minus-circle"></span></button>
                                </td>
                            </tr>
                        }                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}else{
    <div class="alert alert-danger mt-4">
        No Users Found.
    </div>
}

@section Scripts{
    <script src="~/AdminArea/js/userIndex.js" type="application/ecmascript"></script>
}
